<div>
  <p>
    Your booking has been confirmed.
  </p>
  <h2>
    Booking details:
  </h2>
  <p>Email: <%= @booking.email %></p>
  <p>Start Date: <%= @booking.start_date %></p>
  <p>End Date: <%= @booking.end_date %></p>
</div>


